.mainConteiner{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.optiomCityElement {
  position: absolute;
  width: 254px;
  max-height: 300px;
  background-color: #F6F6F6;
  overflow-y: auto;
}

.arrayOfSeath {
  padding: 10px;
  font-family: sans-serif;
  color: rgb(80, 118, 188);
}

.arrayOfSeath:hover {
  background: #c2c2c2;
  cursor: pointer;
}

.input-country {
  width: 100px;
}

.input-city {
  width: 254px;
}
