.optiomElement {
  position: absolute;
  width: 254px;
  max-height: 300px;
  background-color: #F6F6F6;
  overflow-y: auto;
}

input {
  width: 250px;
}

.arrayOfSeath {
  padding: 10px;
  font-family: sans-serif;
  color: #A550BC;
}

.arrayOfSeath:hover {
  background: #c2c2c2;
  cursor: pointer;
}

.inputForFlex {
  position: relative;
  background-color: rgb(147, 172, 9);
  display: flex;
}

select {
  width: 150px;
}
