<div class="header">
  <p>Here are your search results for the extended forecast for every 3 hours in the next 5 days</p>
</div>
<div>
  <h2 *ngIf="choosenCityName?.city">
    <img src="https://openweathermap.org/img/w/{{choosenCityName.list[0].weather[0].icon}}.png" class="forecast-icon"
      alt="forecast">
    {{choosenCityName.list[0].weather[0].description}} in {{choosenCityName.city.name}},
    {{choosenCityName.city.country}},
    {{choosenCityName.city.sunrise * 1000 | date:'dd/MM/yyyy'}}
    <br>
    Sunrise {{choosenCityName.city.sunrise * 1000 | date:'hh:mm:ss'}},
    Sunset {{choosenCityName.city.sunset * 1000 | date:'hh:mm:ss'}}
  </h2>
  <div class="bigScreen">
    <table class="table-responsive-md table table-bordered table-striped" mat-table>
      <thead class="thead-dark">
        <tr>
          <th>DATE | TIME</th>
          <th>TEMPERATURE (C)</th>
          <th>FORECAST</th>
          <th>HUMIDITY(%)</th>
          <th>PRESSURE(mm Hg)</th>
          <th>WIND SPEED(m/s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cityForecast of choosenCityName?.list">
          <td>{{cityForecast.dt_txt | date:'M/dd, EEEE, H:00'}}</td>
          <td>{{(cityForecast.main.temp-273).toFixed(0)}}</td>
          <td><img src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png" class="forecast-icon"
              alt="forecast">{{cityForecast.weather[0].description}}</td>
          <td>{{cityForecast.main.humidity}}</td>
          <td>{{(cityForecast.main.grnd_level * 0.75006).toFixed(0)}}</td>
          <td>{{cityForecast.wind.speed}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="smallScreen">
  <table class=" table" *ngFor="let cityForecast of choosenCityName?.list">
    <thead class="thead-dark">
      <tr>
        <th class="smallScreenWeatherData">{{cityForecast.dt_txt | date:'M/dd, EEEE, H:00'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="smallScreenWeatherData">
            TEMPERATURE (C): {{(cityForecast.main.temp-273).toFixed(0)}}
          </div>
          <div class="smallScreenWeatherData">
            FORECAST: <img src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png"
              class="forecast-icon" alt="forecast">{{cityForecast.weather[0].description}}
          </div>
          <div class="smallScreenWeatherData">
            HUMIDITY(%): {{cityForecast.main.humidity}}
          </div>
          <div class="smallScreenWeatherData">
            PRESSURE(mm Hg): {{(cityForecast.main.grnd_level * 0.75006).toFixed(0)}}
          </div>
          <div class="smallScreenWeatherData">
            WIND SPEED(m/s): {{cityForecast.wind.speed}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
